
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.row{
    background: transparent;
}
.result {
    margin-top: 130px;
    font-size:12rem;
}

.subtext{
    color: #E4E4E4;
    font-size:4rem;
    line-height: 4rem !important;
    text-align: center;
}

@media (min-width: $screen-md-min) {
    .subtext{
        font-size:8rem;
        line-height: 8rem !important;
    }
}

.creds{
    position:fixed;
    bottom:10px;
    text-align:left;
    color: #d5d5d5;
    margin-left:15px;
}

.creds a{
    color: #d5d5d5;
    text-decoration: none;
}

.creds a:hover{
    text-decoration: underline;
}
